.example {
  padding-top: 50px;
  padding-bottom: 30px;

  &__container {
    padding: 0 130px;
  }

  &__scheme {
    width: 360px;
    flex-shrink: 0;

    img {
      width: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  &__extra {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 43px;
  }

  &__block {
    flex: 1;
  }

  &__content {
    border-radius: 10px;
    border: 1px solid #9093FF;
    background: #2E318F;
    padding: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 344.802px;
      height: 313.3px;
      border-radius: 344.802px;
      border: 1px solid #9093FF;
      opacity: 0.9;
      background: radial-gradient(50% 50% at 50% 50%, #99C2FF 0%, rgba(153, 194, 255, 0.00) 100%);
      filter: blur(25px);
    }

    &::before {
      bottom: -229px;
      left: -60px;
    }

    &::after {
      top: -134px;
      right: -118px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include mobile {
      flex-direction: column;
      gap: 60px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column;
      }
    }



    &:not(:last-child) {
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 50px;
      }
    }

    &:not(:first-child) {
      align-items: center;

      .example__scheme {
        width: 423px;
      }
    }
  }

  &__title {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }

  &__desc {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__team {
    flex-shrink: 0;

    position: relative;
    min-width: 400px;
    display: block !important;

    @include mobile {
      min-width: unset;
      width: 100%;
    }

    .bin-team__row {
      gap: 100px;
    }

    .bin-team__img--main {

      &::before,
      &:after {
        background-image: url('./../img/shape-arrow.png');
        width: 120px;
      }

      &::before {
        left: -112px;
      }
    }

    .bin-team__img--sec::before,
    .bin-team__img--sec::after {
      display: none;
    }

    .bin-team__img--th::before,
    .bin-team__img--th::after {
      display: none;
    }

    .bin-team__img,
    .bin-team__img {
      margin-bottom: 10px;
    }

    .bin-team__row:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &__descript {
    color: #F2F2F2;
    text-align: center;
    font-family: Gilroy;
    font-size: 15.627px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.015px;

    @include mobile {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
    }

    span {
      display: block;
    }
  }


  &__value {
    position: absolute;
    color: #F2F2F2;
    text-align: center;
    font-family: Gilroy;
    font-size: 15.627px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.015px;

    @include mobile {
      font-size: 12px;
    }

    &--circle {
      width: 100px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('./../img/circle.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--left {
      left: 0px;
      top: -30px;
    }

    &--right {
      right: 0px;
      top: -30px;
    }

    &--middle {
      left: 50%;
      top: 50%;
      transform: translate(-50%, 20%);

      @include mobile {
        transform: translate(-50%, 50%);
      }
    }
  }
}

.bin-team__team {
  @include mobile {
    position: relative;
  }
}