.games {
  padding-top: 75px;
  padding-bottom: 100px;

  @include mobile {
    padding-bottom: 40px;
    padding-top: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 800px;
    background-image: url('./../img/games/sparks.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      height: 64.4rem;
      width: 80%;
    }
  }

  .ball {
    position: absolute;
    right: -220px;
    top: -100px;
    width: 820px;
    height: 820px;
    background-image: url('./../img/games/ball.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      width: 300px;
      height: 300px;
      top: 0;
      right: -80px;
    }
  }

  &__title {
    position: relative;
    z-index: 6;
    margin: 0;
    margin-bottom: 30px;
    color: #F2F2F2;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;

    @include mobile {
      font-size: 3.8rem;
      margin-bottom: 3rem;
      margin-left: 10px;
    }

  }

  &__items {
    position: relative;
    z-index: 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;

    @include mobile {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__container {
    padding: 0 120px;

    @include mobile {
      padding: 0 1rem;
    }
  }
}

.game-item {
  border-radius: 10.528px;
  background: linear-gradient(305deg, #30328E 22.01%, #4649C1 72.75%);
  padding-bottom: 22px;

  @include mobile {
    padding-bottom: 10px;
  }

  &__title {
    position: absolute;
    z-index: 6;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    margin: 0;
    color: #F2F2F2;
    text-align: center;
    width: 100%;
    max-width: 180px;
    text-shadow: 0.798px 0.798px 12.969px rgba(230, 75, 18, 0.50);
    font-family: "DragonHunter";
    font-size: 26.321px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      color: #F2F2F2;
      text-shadow: 0.455px 0.455px 7.391px rgba(230, 75, 18, 0.50);
      font-size: 1.5rem;
      font-weight: 400;
      max-width: 10rem;
    }
  }

  &__img {
    position: relative;
    margin-bottom: 17px;
    height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F28F1F;
    border-radius: 10px;
    overflow: hidden;

    @include mobile {
      height: 10rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    color: #8B8FFF;
    font-family: Gilroy;
    font-size: 17.547px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 1rem;
      margin-bottom: 1.7rem;
    }

    span {
      display: block;
      width: 9px;
      height: 9px;
      border-top: 1px solid #8B8FFF;
      border-right: 1px solid #8B8FFF;
      transform: rotate(45deg);

      @include mobile {
        width: .5rem;
        height: .5rem;
      }
    }
  }

  &__btn {
    display: block;
    position: relative;
    width: 177px;
    height: 43px;
    margin: 0 auto;

    @include mobile {
      width: 80%;
      height: 3.5rem;
    }

    svg {
      position: absolute;
      inset: 0;
      object-fit: cover;

      @include mobile {
        width: 100%;
        height: 100%;
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 6;
      transform: translate(-50%, -50%);
      color: #FFF;
      text-align: center;
      font-family: Gilroy;
      font-size: 17.547px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      white-space: nowrap;

      @include mobile {
        font-size: 1rem;
      }
    }
  }
}