.lotosmart-mob {
  display: none;

  @media (max-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }

  .lotosmart__body {
    border-radius: 10px;
    border: 1px solid #9093FF;

    background: #2E318F;
  }

  .lotosmart__card {
    position: relative;
    z-index: 5;
    border-radius: 10px;
    background: #23267D;

    &--ton {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .lotomaster-img-mobile {
    top: -132px;
  }
}

.lotosmart__card-content {
  box-sizing: content-box;
  color: #FFF;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  line-height: 19px;
  will-change: max-height;
  transition: max-height .3s ease-out, padding-top .3s ease-out;



  &.active {
    padding-top: 10px;
  }
}