@media (max-width: 1300px) {
  .blockchain__body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header__language {
    display: block;
  }

  .gameton__body-mobile {
    display: block;
  }

  .header__body {
    height: 50px;
    align-items: center;
  }

  .header {
    position: relative;
    padding-top: 11px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .header__burger {
    left: -20px;
    display: block;
    position: relative;
    z-index: 3;
    border-radius: 4px;
    background: linear-gradient(269deg, #fca034 -26.63%, #f46c20 45.59%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .header__logo {
    width: 167px;
    height: 37px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .menu {
    display: none;
  }

  .menu.active {
    top: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu__list li:first-child {
    margin-left: 0px;
  }

  .menu__list li:last-child {
    padding: 0px 40px;
  }

  .menu__list li {
    margin-bottom: 0px;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .loto__body {
    padding-bottom: 24px;
  }

  .loto__wrapper {

    padding: 26px 30px 38px 21px;
    border-radius: 10px;
    background: #494dc1;
  }

  .loto__left h1 {
    font-size: 3.8rem;
    line-height: 1;
    margin-bottom: 25px;

    span {
      display: block;
    }
  }



  .game {
    display: none;

    &--mob {
      font-family: Gilroy;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 200px;
      height: 50px;
      display: flex;
      text-decoration: none;
    }
  }

  .gameton__body {
    display: none;
  }

  .gameton {
    padding-top: 30px;
  }

  .gameton__body-left-mobile {
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gameton__body-left-mobile p {
    position: absolute;
    top: 0;
    margin: 0 18px;
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: "ABeeZee", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  .gameton__body-left-mobile h2 {
    margin: 0 auto;
    max-width: 279px;
    color: #F2F2F2;
    leading-trim: both;
    text-edge: cap;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 107.143% */
  }

  .gameton__body-left-mobile img {
    display: block;
    max-width: 400px;
  }

  .registrarion-mobile {
    position: relative;
  }

  .registrarion-mobile a {
    text-decoration: none;
    position: absolute;
    top: 34px;
    right: 54px;
    color: #FFF;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .loto {
    &__image {
      margin: -20px -46px;
      margin-right: -71px;
    }
  }

  .loto__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .loto {
    margin-top: 15px;
  }

  .loto__body {
    flex-wrap: wrap;
    align-items: center;
  }

  .loto__bottom {
    display: block;
    margin-right: -40px;
    position: relative;

    &-img {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-title {
      color: #9093FF;
      leading-trim: both;
      text-edge: cap;
      font-family: Gilroy;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      max-width: 140px;

      span {
        color: inherit;
        font-size: inherit;
      }
    }
  }

  .loto__bottom img {
    margin-top: -90px;
    max-width: 263px;
  }

  .loto__right img {
    max-width: 700px;
    width: 100%;
  }

  .loto__left h1,
  p {
    text-align: left;
  }


  .footer__body {
    display: none;
  }

  .lotomaster-img-mobile {
    display: block;
  }

  .lotomaster-img {
    display: none;
  }

  .footer__mobile-bottom span {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 100% */
  }

  .footer__mobile-middle {
    position: relative;
  }

  .footer__mobile-left {
    padding-right: 80px;
  }

  .footer__mobile-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(35%, 0%);
  }

  .footer__mobile-social {
    display: flex;
    align-items: center;
  }

  .footer__mobile-social svg {
    margin-right: 7px;
  }

  .footer__mobile-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__mobile {
    margin-top: 25px;
    display: inherit;
  }

  .dn {
    display: none;
  }

  .lotosmart__body {

    padding: 30px 15px 25px;
    border-radius: 10px;
    background: #D9601C;
    box-shadow: 2px 1px 20px 0px rgba(244, 108, 32, 0.40);
  }

  .lotosmart__top {
    position: relative;
  }

  .lotomaster-img-mobile {
    position: absolute;
    top: -60px;
    right: -20px;
  }


  .lotosmart__card {
    margin: 0;
    padding: 10px 16px;
  }

  .lotosmart__card-item {
    padding-right: 40px;
  }

  .lotosmart__card-item p {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    padding-left: 11px;
    /* 121.429% */
  }

  .lotosmart__card-item img {
    max-width: 50px;
  }

  .invest__title {
    color: #F2F2F2;
    leading-trim: both;
    text-edge: cap;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 0;
  }

  .invest {
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #9093FF;
    background: #2E318F;
  }

  .invest__body {
    padding: 20px;
    position: relative;
  }

  .invest__body-cards {
    z-index: 2;
  }

  .invest__body img {
    position: absolute;
    right: -37px;
    top: -122px;
    max-width: 200px;
  }

  .invest__body-card {
    border-radius: 10px;
    background: #23267D;
    padding: 10px;
    margin-bottom: 10px;
  }

  .invest__body-card p {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
  }

  .invest__body-card p span {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
  }

  .blockchain__body-left h2 {
    color: #F2F2F2;
    leading-trim: both;
    text-edge: cap;
    font-family: "Roboto", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
  }

  .blockchain {
    padding-top: 30px;
  }

  .blockchain__body-right {
    padding-top: 11px;
  }

  .blockchain__body-cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .blockchain__body-left p {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

  .blockchain__body {
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #9093FF;
    background: #494DC1;
  }

  .ton {
    display: none;
  }

  .ton-mobile {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .ton-mobile img {
    display: block;
    width: 100%;
  }

  .blockchain__body-item {
    display: flex;
    flex-direction: column;
    background: #23267D;
    padding: 10px 16px;
  }

  .blockchain__body-card {
    margin-bottom: 10px;
  }

  .blockchain__title h2 {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
  }

  .blockchain__body-item p {
    display: none;
  }

  .header__language {
    position: absolute;
    right: 62px;
    top: 9px;
    z-index: 3;
  }

  .header__language button {

    color: #F2F2F2;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #6F72D0;
    background: #2E318F;
    padding: 0px 13px;
    z-index: 1;
  }
}

@media (max-width:768px) {
  .invest__title {
    max-width: 20rem;
  }

  .lotosmart {
    padding-top: 2rem;
    margin: 0 1rem;

    &__cards {
      flex-direction: column;
      gap: .5rem;
    }
  }

  .lotosmart__bottom {
    padding-top: 2rem;
  }


  .lotosmart__top-info h2 {
    color: #F2F2F2;
    font-family: "Roboto", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0;
  }

  .lotosmart__top-info p {
    color: #FFF;
    font-family: Arial;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    max-width: 27.4rem;
  }

  .lotosmart__top-info p span {
    color: #FFF;
    font-family: Arial;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    max-width: 27.4rem;
  }
}

.footer__ros-1 {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.footer__ros-2 {
  display: none !important;
  // position: absolute;
  right: 0;
  top: 0;
  width: 216px;
  height: 216px;

  @media (max-width: 768px) {
    display: block !important;

  }
}