<section class="binary">
  <div class="market-container container">
    <div class="binary__item">
      <h2 class="market-title binary__title">Бинарный бонус</h2>
      <p class="binary__desc">
        В системе "Бинар" существуют две команды товарооборота: первая слева, вторая справа.
      </p>
      <p class="binary__desc">
        Вы приглашаете двух партнёров, и они занимают места под вашим аккаунтом: один слева, другой справа. Все
        последующие приглашённые вами и приглашённые ими располагаются в этих двух командах автоматически, по правилу
        "слева направо".
      </p>
    </div>
    <div class="binary__item bin-team">
      <div class="bin-team__row">
        <div class="bin-team__img bin-team__img--main">
          <img src="./img/binary/01.png" alt="">
        </div>
      </div>
      <div class="bin-team__row">
        <div class="bin-team__team">
          <h5 class="bin-team__title">Левая команда</h5>
          <div class="bin-team__img bin-team__img--sec bin-team__img--gap">
            <img src="./img/binary/02.png" alt="">
          </div>
          <div class="bin-team__row bin-team__row--gap">
            <div class="bin-team__img">
              <img src="./img/binary/04.png" alt="">
            </div>
            <div class="bin-team__img">
              <img src="./img/binary/05.png" alt="">
            </div>
          </div>
        </div>
        <div class="bin-team__team">
          <h5 class="bin-team__title">Правая команда</h5>
          <div class="bin-team__img bin-team__img--th bin-team__img--gap">
            <img src="./img/binary/03.png" alt="">
          </div>
          <div class="bin-team__row bin-team__row--gap">
            <div class="bin-team__img">
              <img src="./img/binary/06.png" alt="">
            </div>
            <div class="bin-team__img">
              <img src="./img/binary/07.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="binary__item">
      <table class="binary__table">
        <tbody>
          <tr class="binary-table__head">
            <td>Тарифный план</td>
            <td>Уровень</td>
            <td>Баллы</td>
            <td>Количество</td>
          </tr>
          <tr>
            <td>
              <span>Standard Mini</span>
              <span>Standard</span>
            </td>
            <td>
              <span>10 TON</span>
              <span>100 TON</span>
            </td>
            <td>
              <span>2 SV</span>
              <span>20 SV</span>
            </td>
            <td>
              <span>2 билета</span>
              <span>20 билетов</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Elite Mini</span>
              <span>Elite</span>
            </td>
            <td>
              <span>25 TON</span>
              <span>250 TON</span>
            </td>
            <td>
              <span>10 SV</span>
              <span>100 SV</span>
            </td>
            <td>
              <span>10 билета</span>
              <span>100 билетов</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Pro Mini</span>
              <span>Pro</span>
            </td>
            <td>
              <span>75 TON</span>
              <span>750 TON</span>
            </td>
            <td>
              <span>30 SV</span>
              <span>300 SV</span>
            </td>
            <td>
              <span>30 билета</span>
              <span>300 билетов</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="binary__item">
      <p class="binary__desc">
        Вы можете вручную расставлять приглашённых лично в левую или правую команду, используя настройки в личном
        кабинете. Также в вашу команду могут попадать участники, лично приглашённые вышестоящими партнёрами. В системе
        накапливается товарооборот по двум командам. Сумма начислений зависит от выбранного вами тарифного плана
        (пакета). Расчёты происходят в баллах (SV).
      </p>
      <p class="binary__desc binary__desc--bold">
        При выборе тарифного плана партнёр получает билеты от “Tonbingo” на лото (игру) “Пирамида”.
      </p>
    </div>
  </div>
</section>