<section class="bonus">
  <div class="container bonus__container">
    <h2 class="market-container market-title bonus__title">Бонус за личную продажу</h2>
    <div class="market-container">
      <div class="bonus__item">
        <table class="bonus__table">
          <tbody>
            <tr>
              <td class="bonus__capture">Бонус</td>
              <td class="bonus__capture">Тарифный план</td>
            </tr>
            <tr>
              <td class="bonus__value">Standart Mini, Standart</td>
              <td class="bonus__value">6%</td>
            </tr>
            <tr>
              <td class="bonus__value">Elite Mini, Elite</td>
              <td class="bonus__value">8%</td>
            </tr>
            <tr>
              <td class="bonus__value">Pro Mini, Pro</td>
              <td class="bonus__value">12%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bonus__item">
        <table class="bonus-exp">
          <tbody>
            <tr>
              <td></td>
              <td class="bonus-exp__head">Standard Mini<span>10 TON</span></td>
              <td class="bonus-exp__head">Elite Mini<span>25 TON</span></td>
              <td class="bonus-exp__head">ProMini<span>75 TON</span></td>
            </tr>
            <tr>
              <td class="bonus-exp__head bonus-exp__head--left">Standard<span>100 TON</span></td>
              <td class="bonus-exp__val">
                <span>6 TON</span>
                <span>0.6 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>8 TON</span>
                <span>1.5 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>12 TON</span>
                <span>4.5 TON</span>
              </td>
            </tr>
            <tr>
              <td class="bonus-exp__head bonus-exp__head--left">Elite<span>250 TON</span></td>
              <td class="bonus-exp__val">
                <span>15 TON</span>
                <span>0.8 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>20 TON</span>
                <span>2 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>30 TON</span>
                <span>6 TON</span>
              </td>
            </tr>
            <tr>
              <td class="bonus-exp__head bonus-exp__head--left">Pro<span>750 TON</span></td>
              <td class="bonus-exp__val">
                <span>45 TON</span>
                <span>1.2 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>60 TON</span>
                <span>3 TON</span>
              </td>
              <td class="bonus-exp__val">
                <span>90 TON</span>
                <span>9 TON</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bonus-samp">
        <div class="bonus-samp__wrapper">
          <h5 class="bonus-samp__title">Пример 1</h5>
          <p class="bonus-samp__desc">
            У вас тарифный план Pro Mini с ежемесячной оплатой
            на 75 TON, по вашей реферальной ссылке арегистрировался новый партнёр, и он приобрёл тарифный план Pro на
            750 TON, ваше разовое вознаграждение составило 90 TON.
          </p>
        </div>
      </div>
      <div class="bonus-samp">
        <div class="bonus-samp__wrapper">
          <h5 class="bonus-samp__title">Пример 2</h5>
          <p class="bonus-samp__desc">
            У вас тарифный план Pro на 750 TON, по вашей реферальной ссылке зарегистрировался новый партнёр, и он
            приобрёл тарифный план Pro Mini с ежемесячной оплатой 75 TON, ваше вознаграждение составит 9 TON.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>