<section class="cost">
  <div class="container cost__container">
    <h2 class="market-container market-title cost__title">Стоимость тарифных планов</h2>
    <div class="market-container">
      <div class="cost__item">
        <h4 class="cost__capture">
          Активация партнёрской программы при 100% оплате
        </h4>
        <table class="cost__table cost__table--yel">
          <tbody>
            <tr>
              <td class="cost__header">Тарифный план</td>
              <td class="cost__header">Стоимость</td>
            </tr>
            <tr>
              <td class="cost__value">Standart</td>
              <td class="cost__value">100 TON</td>
            </tr>
            <tr>
              <td class="cost__value">Elite</td>
              <td class="cost__value">250 TON</td>
            </tr>
            <tr>
              <td class="cost__value">Pro</td>
              <td class="cost__value">750 TON</td>
            </tr>
          </tbody>
        </table>
        <p class="cost__noty">
          *Действие тарифного плана не ограничено. Есть возможность апгрейда, с оплатой разницы суммы.
        </p>
      </div>
      <div class="cost__item">
        <h4 class="cost__capture">
          Активация партнёрской программы при 100% оплате
        </h4>
        <table class="cost__table cost__table--blue">
          <tbody>
            <tr>
              <td class="cost__header">Тарифный план</td>
              <td class="cost__header">Стоимость</td>
            </tr>
            <tr>
              <td class="cost__value">Standart Mini</td>
              <td class="cost__value">10 TON</td>
            </tr>
            <tr>
              <td class="cost__value">Elite Mini</td>
              <td class="cost__value">25 TON</td>
            </tr>
            <tr>
              <td class="cost__value">Pro Mini</td>
              <td class="cost__value">75 TON</td>
            </tr>
          </tbody>
        </table>
        <p class="cost__noty">
          *Действие тарифного плана помесячно. Есть возможность по истечению срока действия сменить тарифный план. Есть
          возможность перейти на 100% оплату, тарифного плана. При неуплате по истечению срока действия тарифного плана
          ваш аккаунт переходит в статус “неактивный”.<br>
          **В статусе “неактивный”, все вознаграждения и начисления бинарных баллов временно приостанавливаются, до тех
          пор пока партнер не восстановит активацию своего аккаунта, путем выбора тарифного плана (пакета) и
          осуществления соответствующей оплаты.
        </p>
      </div>

    </div>
  </div>
</section>