<section class="example">
  <h2 class="visually-hidden">title</h2>
  <div class="example__container container">
    <div class="example__row">
      <div class="example__scheme">
        <img src="./img/examples/01.png" alt="">
      </div>
      <div class="example__content">
        <h4 class="example__title">Пример 1</h4>
        <p class="example__desc">
          Допустим, что вы активировали свой кабинет, выбрав тарифный план на 750 TON (Pro), оплатив полную стоимость и
          у вас появились два партнёра, которые также активировали свои кабинеты. Первый активировал тарифный план на
          250 TON (Elite), оплатив полную стоимость, второй активировал тарифный план на 750 TON (Pro), оплатив полную
          стоимость. Значит слева вам начисляется 100 SV, справа 300 SV, так как ваш личный кабинет активирован на 750
          TON (Pro), в этом случае происходит бинарная выплата 25 TON. Слева сгорает 100 SV и остаётся 0 SV, справа
          сгорает 100 SV, остаётся 200 SV.
        </p>
      </div>
    </div>
    <div class="example__row">
      <div class="example__scheme">
        <img src="./img/examples/02.png" alt="">
      </div>
      <div class="example__content">
        <h4 class="example__title">Пример 2</h4>
        <p class="example__desc">
          Допустим, что вы активировали свой кабинет, выбрав тарифный план (Elite Mini), оплатив 25 TON и у вас
          появились два партнёра, которые также активировали свои кабинеты. Первый активировал тарифный план (Standart
          Mini), оплатив 10 TON, второй активировал тарифный план (Pro Mini), оплатив 75 TON. Значит, слева вам
          начисляется 2 SV, справа 10 SV, так как ваш личный кабинет активирован на (Elite Mini).
          P.S. как только в левой команде накопится 100 SV и в правой 100 SV произойдёт бинарная выплата в размере 25
          TON.
        </p>
      </div>
    </div>
    <div class="example__row">
      <div class="example__scheme">
        <img src="./img/examples/03.png" alt="">
      </div>
      <div class="example__content">
        <h4 class="example__title">Пример 3</h4>
        <p class="example__desc">
          Допустим, что вы активировали свой кабинет, выбрав тарифный план на 100 TON (Standart) и оплатили полную
          стоимость и у вас появились два партнёра, которые также активировали свои кабинеты. Первый активировал
          тарифный план на 250 TON (Elite), оплатив полную стоимость, второй активировал тарифный план на 750 TON (Pro),
          оплатив полную стоимость. Значит, слева вам начисляется 20 SV, справа 20 SV, так как ваш личный кабинет
          активирован на 100 TON (Standart).
          P.S. Если у вас был бы активирован личный кабинет на 750 TON (Pro), то начисление баллов и выплат (см. пример
          1).
        </p>
      </div>
    </div>
    <div class="example__extra">
      <div class="example__block">
        <p class="example__desc">
          Товарооборот копится постоянно и без временных ограничений в обоих командах, но при достижении отметки в 100
          SV
          эти суммы сгорают, и вы получаете единовременную выплату в размере
          25 TON. 100 SV x 100 SV = 25 TON
        </p>
        <p class="example__desc">
          Предположим, что у вас справа накопилось 550 SV, а слева накопилось 100 SV. В обоих командах отнимается по 100
          SV,
          и происходит выплата. Справа остаётся 450 SV, а слева 0 SV. И так происходит постоянно при появлении новых
          партнёров слева и справа без ограничений по выплатам в глубину.
        </p>
        <p class="example__desc">
          Каждый новый участник, зарегистрированный на платформе “Tonbingo network”, автоматически заносится в бинарный
          маркетинг с нулевым входом.
        </p>
      </div>
      <div class="example__block">
        <p class="example__desc">
          Напоминаем, что для начисления баллов в бинарном маркетинге вам необходимо активировать партнёрскую программу,
          выбрав тарифный план Standart, Elite, Pro. При выборе тарифного плана вы также можете оплатить только 10% от
          стоимости (Standart Mini, Elite Mini, Pro Mini) и использовать все привилегии выбранного вами пакета. Такое
          условие даёт право получать все начисления и выплаты, и такой выбор оплачивается ежемесячно на постоянной
          основе.
          По окончании расчётного периода, оплачивая следующий месяц, вы можете изменить стоимость тарифного план,
          например,
          с PRO MINI на Standart Mini или с Elite Mini на Pro Mini и так далее. Также вы можете в  любое время оплатить
          полную стоимость любого тарифного плана, и никаких дополнительных оплат в будущем не потребуется.
        </p>
      </div>
    </div>
  </div>
</section>