<section class="gameton">
  <div class="gameton__body container">
    <div class="gameton__body-left">
      <h2>Играй в <span>TONBINGO</span>
        и получай максимум
        удовольствия!</h2>
      <p>Вместе с TON мы выводим игры на новый уровень и открываем для игроков удивительный новый мир блокчейн игр!</p>
      <a href="#" class="game">
        Зарегестрироваться!
      </a>
    </div>
    <div class="gameton__body-right">
      <img src="./img/game-image.png" alt="">
    </div>
  </div>
  <div class="gameton__body-mobile">
    <div class="gameton__body-left-mobile">
      <p>Вместе с TON мы выводим игры на новый уровень и открываем для игроков удивительный новый мир блокчейн игр!</p>
      <img src="./img/game-image.png" alt="">
      <h2>Играй в <span>TONBINGO</span>
        и получай максимум
        удовольствия!</h2>
      <div class="registrarion-mobile">
        <svg xmlns="http://www.w3.org/2000/svg" width="247" height="91" viewBox="0 0 247 91" fill="none">
          <g filter="url(#filter0_d_84_749)">
            <path
              d="M18.7371 33.0028C18.3351 28.6382 21.6491 24.8175 26.0266 24.5987L211.009 15.3496C214.974 15.1513 218.441 17.9977 219.018 21.9255L224.182 57.0395C224.873 61.7375 221.192 65.9366 216.444 65.8668L28.4258 63.1018C24.4871 63.0439 21.226 60.0252 20.8647 56.1027L18.7371 33.0028Z"
              fill="url(#paint0_linear_84_749)" />
          </g>
          <defs>
            <filter id="filter0_d_84_749" x="0.704102" y="0.339813" width="245.562" height="90.5279"
              filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dx="2" dy="5" />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.956863 0 0 0 0 0.423529 0 0 0 0 0.12549 0 0 0 0.6 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_84_749" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_84_749" result="shape" />
            </filter>
            <linearGradient id="paint0_linear_84_749" x1="18" y1="-9.48001" x2="221.431" y2="90.9347"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#FCA034" />
              <stop offset="0.528701" stop-color="#F46C20" />
              <stop offset="1" stop-color="#E23E0A" />
            </linearGradient>
          </defs>
        </svg>
        <a href="#">Зарегестрироваться!</a>
      </div>
    </div>
  </div>
</section>