<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="./" class="header__logo">
        <img src="./img/logo.svg" alt="#" />
      </a>
      <div class="header__nav-mob">
        <div class="header__language">
          ru
        </div>
        <div class="header__burger">
          <div class="header__burger-line"></div>
        </div>
      </div>
      <nav class="menu">
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a class="menu__link" href="./games.html">Лото</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="./wallet.html">Кошелёк</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="./team.html">Команда</a>
          </li>
          <li class="menu__item menu__item--sec">
            <a class="menu__link" href="./market.html">RU</a>
          </li>
          <li class="menu__item menu__item--sec">
            <a class="btn-reset menu__set" href="./settings.html"><img src="./img/settings.svg" alt="" /></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>