<header class="header">
  <div class="container">
    <div class="header__body">
      <a class="header__logo">
        <img src="./img/logo.svg" alt="#" />
      </a>
      <div class="header__burger">
        <img src="./img/burger.svg" alt="" />
      </div>
      <div class="header__language">
        <button>ru</button>
      </div>
      <nav class="menu">
        <ul class="menu__list list-reset">
          <li class="menu__item">
            <a class="menu__link" href="#">Лото</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Кошелёк</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Команда</a>
          </li>
          <li class="menu__item menu__item--sec">
            <a class="menu__link" href="#">RU</a>
          </li>
          <li class="menu__item menu__item--sec">
            <button class="btn-reset menu__set" href="#"><img src="./img/settings.svg" alt="" /></button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>