<section class="invest">
  <div class="container">
    <div class="invest__body">
      <div class="conf rellax"></div>
      <div class="invest__body-cards">
        <h2 class="invest__title">Мировой рынок лото</h2>
        <div class="invest__body-card">
          <img src="./img/invest/01.svg" alt="">
          <p>
            Лотерея - <span>самая популярная</span> <br />
            развлекательная игра в мире.
          </p>
        </div>
        <div class="invest__body-card">
          <img src="./img/invest/02.svg" alt="">
          <p>
            Более 50% жителей развитых <br />
            стран постоянно играют в лотерею
          </p>
        </div>
        <div class="invest__body-card">
          <img src="./img/invest/03.svg" alt="">
          <p>
            Рост мирового рынка онлайн —<br />
            лотерей на 6,4% ежегодно.
          </p>
        </div>
        <div class="invest__body-card">
          <img src="./img/invest/04.svg" alt="">
          <p>
            Более 50% жителей развитых<br />
            стран <span>постоянно </span> играют в лотерею
          </p>
        </div>
        <div class="invest__body-card">
          <img src="./img/invest/05.svg" alt="">
          <p>
            Ожидается, что объем мирового рынка <br />
            онлайн-лотерей достигнет $8445,9 млн
          </p>
        </div>
      </div>
      <div class="invest__image rellax" data-rellax-speed="-1">
        <img src="./img/business-investment.png" alt="" />
        <div class="banks rellax" data-rellax-speed="3"></div>
      </div>
    </div>
  </div>
</section>