<section class="lotosmart">
  <div class="lotosmart-mob">
    <div class="lotosmart__body container">
      <div class="lotosmart__top">
        <div class="lotomaster-img">
          <img src="./img/rooster-2.png" alt="" />
        </div>

        <div class="lotosmart__top-info">
          <h2>
            Обычные<br>лотереи
          </h2>
        </div>
        <div class="lotomaster-img-mobile">
          <img src="./img/ball-mob.png" alt="" />
        </div>
      </div>
      <div class="lotosmart__bottom">
        <div class="lotosmart__cards">
          <div class="lotosmart__card">
            <div class="lotosmart__card-item">
              <div class="lotosmart__card-img">
                <img src="./img/usual/01.svg" alt="" />
              </div>
              <p>
                Нечестный результат
              </p>
            </div>
          </div>
          <div class="lotosmart__card">
            <div class="lotosmart__card-item">
              <div class="lotosmart__card-img">
                <img src="./img/usual/02.svg" alt="" />
              </div>
              <p>
                Географическое ограничение
              </p>
            </div>
          </div>
          <div class="lotosmart__card">
            <div class="lotosmart__card-item">
              <div class="lotosmart__card-img">
                <img src="./img/usual/03.svg" alt="" />
              </div>
              <p>
                Долгие выплаты
              </p>
            </div>
          </div>
          <div class="lotosmart__card">
            <div class="lotosmart__card-item">
              <div class="lotosmart__card-img">
                <img src="./img/usual/04.svg" alt="" />
              </div>
              <p>
                Безумно высокие налоги
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lotosmart__body container">
    <div class="lotosmart__top">
      <div class="lotomaster-img">
        <img src="./img/rooster-2.png" alt="" />
      </div>

      <div class="lotosmart__top-info">
        <h2>
          Лотереи <br />
          на смарт контрактах
        </h2>
        <p class="dn">
          TONBINGO предлагает новый подход к организации и проведению
          лотерейных игр. Благодаря технологии блокчейн и
          смарт-контрактам мы вывели игру в лото на новую орбиту!
        </p>
        <p>
          Это новый вид лотерейных игр, которые отличаются от обычных
          лотерей <span>современным уровнем технологий</span> и
          <span>небывалой прозрачностью.</span>
        </p>
      </div>
      <div class="lotomaster-img-mobile">
        <img src="./img/lotosmart-mobile.png" alt="" />
      </div>
    </div>
    <div class="lotosmart__bottom">
      <div class="lotosmart__cards">
        <div class="lotosmart__card">
          <div class="lotosmart__card-item">
            <img src="./img/icon-1.svg" alt="" />
            <p>
              Анонимность каждогo <br />
              пользователя
            </p>
          </div>
        </div>
        <div class="lotosmart__card">
          <div class="lotosmart__card-item">
            <img src="./img/icon-2.svg" alt="" />
            <p>
              Игра в любой <br />
              точке планеты
            </p>
          </div>
        </div>
        <div class="lotosmart__card">
          <div class="lotosmart__card-item">
            <img src="./img/icon-3.svg" alt="" />
            <p>
              Полная прозрачность
              <br />
              и честная игра
            </p>
          </div>
        </div>
        <div class="lotosmart__card">
          <div class="lotosmart__card-item">
            <img src="./img/icon-4.svg" alt="" />
            <p>
              Мгновенная выплата
              <br />
              выигрыша
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>