<section class="loto">
  <div class="container">
    <div class="loto__wrapper">
      <div class="loto__body">
        <div class="loto__left">
          <h1><span>100%</span> честное лото!</h1>
          <p class="loto__left-text">
            Надёжные и прозрачные результаты игры, благодаря внедрению
            <span>блокчейна TON в алгоритмы TONBINGO</span>
          </p>
          <p class="loto__left-text">
            Первая международная лотерея, честность и прозрачность которой обеспечивает блокчейн TON, внедрённый в
            алгоритмы наших игр
          </p>
          <a href="#" class="game  game--und">
            Играть!
          </a>
        </div>
        <div class="loto__right">
          <div class="loto__image">
            <img src="./img/video.png" alt="">
            <div class="loto__play">
              <img src="./img/play-icon.svg" alt="">
            </div>
          </div>
          <a href="#" class="game game--mob  game--und">
            Играть!
          </a>
        </div>
      </div>
      <div class="loto__bottom">
        <p class="loto__bottom-title">
          <span>Тони Лотт</span> - Ваш навигатор в Мире приключений и
          развлечений!
        </p>
        <img class="loto__bottom-img" src="./img/rooster-1.png" alt="">
      </div>
    </div>
  </div>
</section>