<section class="m-desc">
  <h2 class="visually-hidden">title</h2>
  <div class="m-desc__loto rellax" data-rellax-speed="3">
  </div>
  <div class="m-desc__banks rellax" data-rellax-speed="3">
  </div>
  <div class="container m-desc__container container--marketing">
    <div class="m-desc__block m-block">
      <div class="m-block__row">
        <div class="m-block__img">
          <img src="./img/m/scheme.png" alt="">
        </div>
        <div class="m-block__content">
          <h3 class="m-block__title">Маркетинг <span>Tonbingo network</span></h3>
          <p class="m-block__desc">
            "TONBINGO NETWORK" выплачивает бонус за рекомендацию в партнёрскую программу. Если вы пригласили нового
            участника в лото, и он решил участвовать в партнерской программе "TONBINGO NETWORK", вы также получаете
            вознаграждение. Сумма вознаграждений зависит от выбранного тарифа и вашего личного участия в партнерской
            программе.
          </p>
        </div>
      </div>
    </div>
    <div class="m-desc__block m-block">
      <div class="m-block__row m-block__row--centered">
        <h3 class="m-block__title2">
          Активация партнерской программы, ежемесячный тарифный план
        </h3>
        <table class="m-block__table">
          <tbody>
            <tr class="m-block__table-capture">
              <td>Тарифный план</td>
              <td>Стоимость</td>
            </tr>
            <tr>
              <td>Standart</td>
              <td><span>9.9</span> TON</td>
            </tr>
            <tr>
              <td>Elite</td>
              <td><span>24.9</span> TON</td>
            </tr>
            <tr>
              <td>Pro</td>
              <td><span>74.9</span> TON</td>
            </tr>
          </tbody>
        </table>
        <div class="m-block__descr">
          <p class="m-block__desc">Действие тарифного плана помесячно. Есть возможность по истечению срока действия
            сменить тарифный план. При неуплате по истечению срока действия тарифного плана ваш аккаунт перейдет в
            статус “неактивный”.
            В статусе “неактивный”, все вознаграждения и начисления бинарных баллов временно приостанавливаются, до тех
            пор пока партнер не активирует аккаунт, выбрав тарифный план.
          </p>
        </div>
      </div>
    </div>
    <div class="m-desc__block m-block">
      <div class="m-block__row m-block__row--centered">
        <h3 class="m-block__title2">
          Партнерские выплаты
        </h3>
        <table class="m-block__table">
          <tbody>
            <tr class="m-block__table-capture">
              <td width="33.333%">Тарифный план</td>
              <td width="33.333%">Стоимость</td>
              <td width="33.333%">Процент</td>
            </tr>
            <tr>
              <td width="33.333%">Standart</td>
              <td width="33.333%"><span>9.9</span> TON</td>
              <td width="33.333%"><span>6%</span></td>
            </tr>
            <tr>
              <td width="33.333%">Elite</td>
              <td width="33.333%"><span>24.9</span> TON</td>
              <td width="33.333%"><span>8%</span></td>
            </tr>
            <tr>
              <td width="33.333%">Pro</td>
              <td width="33.333%"><span>74.9</span> TON</td>
              <td width="33.333%"><span>12%</span></td>
            </tr>

          </tbody>
        </table>
        <div class="m-block__descr m-block__descr--mob">
          <p class="m-block__desc"><span>Пример 1:</span> у вас тарифный план PRO, по вашей реферальной ссылке
            зарегистрировался новый партнер и он приобрел тарифный план PRO, ваше разовое вознаграждение составит 8,98
            TON
          </p>
          <p class="m-block__desc">
            <span>Пример 2:</span> у вас тарифный план ELITE, по вашей реферальной ссылке зарегистрировался новый
            партнер и он приобрел тарифный план PRO, ваше разовое вознаграждение составит 5,99 TON.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>