<section class="m-hero">
  <h2 class="visually-hidden">title</h2>
  <div class="container m-hero__container container--marketing">
    <div class="m-hero__left">
      <h2 class="m-hero__title">
        Партнёрская программа
      </h2>
      <div class="m-hero__desc">
        <p>В TONBINGO можно играть и выигрывать, а также получать пассивный доход?</p>
      </div>
      <div class="m-hero__extra">
        <p>
          <span>TONBINGO NETWORK</span> создала для вас партнерскую программу, которая позволит зарабатывать каждому
          желающему. Всё просто – рекомендуйте лото TONBINGO и зарабатывайте!
        </p>
      </div>
    </div>
    <div class="m-hero__images">
      <div class="m-hero__img m-hero__img--1 rellax" data-rellax-speed="-1">
        <img src="./img/m/clock.png" alt="">
      </div>
      <div class="m-hero__img m-hero__img--2 rellax" data-rellax-speed="-2">
        <img src="./img/m/bank-money.png" alt="">
      </div>
      <div class="m-hero__img m-hero__img--3 rellax" data-rellax-speed="-3">
        <img src="./img/m/02.png" alt="">
      </div>
    </div>
  </div>
</section>