<section class="m-ps">
  <h2 class="visually-hidden"></h2>

  <div class="container container--marketing">
    <p class="m-ps__desc m-ps__desc--top">
      Товарооборот копится постоянно при активном аккаунте и без временных ограничений в обоих командах, но при
      достижении отметки в 100 SV эти суммы сгорают, и вы получаете единовременную выплату в размере 2,5 TON.
      Предположим, что у вас справа накопилось 550 SV, а слева накопилось 100 SV. В обоих командах отнимается по 100 SV,
      и происходит выплата. Справа остаётся 450 SV, а слева 0 SV. И так происходит постоянно при начислении новых баллов
      слева и справа при активном аккаунте.
    </p>
    <div class="m-ps__container">
      <div class="m-ps__left">
        <h3 class="m-ps__title">P.S.</h3>
        <p class="m-ps__desc">
          P.S.
          Каждый новый участник, зарегистрированный на платформе “TONBINGO NETWORK”, автоматически заносится в бинарный
          маркетинг с нулевым входом. Напоминаем, что для начисления баллов в бинарном маркетинге вам необходимо
          активировать партнерскую программу, выбрав тариф STANDART, ELITE, PRO. По окончании расчетного периода,
          оплачивая следующий месяц, вы можете изменить стоимость тарифа, например, с PRO на STANDART или с ELITE на PRO
          и так далее.
          Рекомендуем подключить автоплатеж активности аккаунта.
        </p>
      </div>
      <div class="m-ps__image">
        <div class="m-ps__img rellax" data-rellax-speed="4">
          <img src="./img/ps.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>