<section class="m-reward">
  <h2 class="visually-hidden">
    title
  </h2>
  <div class="container container--marketing">
    <div class="m-reward__container ">
      <div class="m-reward__content">
        <h2 class="m-reward__title">
          Бинарное вознаграждение
        </h2>
        <p class="m-reward__desc">
          В системе "Бинар" существуют две команды товарооборота: первая слева, вторая справа. Вы приглашаете двух
          партнёров, и они занимают места под вашим аккаунтом: один слева, другой справа. Все последующие приглашённые
          вами и приглашённые ими располагаются в этих двух командах автоматически, по правилу "слева направо". Вы
          можете
          вручную расставлять приглашённых лично в левую или правую команду, используя настройки в личном кабинете.
        </p>
      </div>
      <div class="m-reward__image">
        <div class="img">
          <img src="./img/m/ball.png" alt="ball">
        </div>
      </div>
    </div>
    <a href="#" class="m-reward__link">
      <span>Активировать</span>
    </a>
  </div>
</section>