<section class="m-team">
  <h2 class="visually-hidden">
    title
  </h2>
  <div class="container container--marketing m-team__container">
    <div class="m-team__row">
      <div class="m-team__left">
        <p class="m-team__desc">
          <span>Важно!</span> Для активации бинарного вознаграждения, в вашей структуре должно размещаться два человека,
          один слева,
          другой справа.
          Также в вашу команду могут попадать участники, лично приглашённые вышестоящими партнерами. В системе
          накапливается товарооборот по двум командам, где 1 балл (SV) равен 0,1 TON. Сумма начислений зависит от
          выбранного вами тарифа в расчетный период. Расчеты происходят в баллах SV. При выборе тарифного плана партнеру
          начисляются монеты TON для игр в лото
        </p>
        <div class="binary__item bin-team--mob m-team__team">
          <div class="bin-team__row">
            <div class="bin-team__img bin-team__img--main">
              <img src="./img/binary/01.png" alt="">
            </div>
          </div>
          <div class="bin-team__row">
            <div class="bin-team__team">
              <h5 class="bin-team__title">Левая команда</h5>
              <div class="bin-team__img bin-team__img--sec bin-team__img--gap">
                <img src="./img/binary/02.png" alt="">
              </div>
              <div class="bin-team__row bin-team__row--gap">
                <div class="bin-team__img">
                  <img src="./img/binary/04.png" alt="">
                </div>
                <div class="bin-team__img">
                  <img src="./img/binary/05.png" alt="">
                </div>
              </div>
            </div>
            <div class="bin-team__team">
              <h5 class="bin-team__title">Правая команда</h5>
              <div class="bin-team__img bin-team__img--th bin-team__img--gap">
                <img src="./img/binary/03.png" alt="">
              </div>
              <div class="bin-team__row bin-team__row--gap">
                <div class="bin-team__img">
                  <img src="./img/binary/06.png" alt="">
                </div>
                <div class="bin-team__img">
                  <img src="./img/binary/07.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="m-block__table m-team__table">
          <tbody>
            <tr>
              <td>Standart</td>
              <td><span>9.9</span> TON</td>
            </tr>
            <tr>
              <td>Elite</td>
              <td><span>24.9</span> TON</td>
            </tr>
            <tr>
              <td>Pro</td>
              <td><span>74.9</span> TON</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="binary__item bin-team m-team__team">
        <div class="bin-team__row">
          <div class="bin-team__img bin-team__img--main">
            <img src="./img/binary/01.png" alt="">
          </div>
        </div>
        <div class="bin-team__row">
          <div class="bin-team__team">
            <h5 class="bin-team__title">Левая команда</h5>
            <div class="bin-team__img bin-team__img--sec bin-team__img--gap">
              <img src="./img/binary/02.png" alt="">
            </div>
            <div class="bin-team__row bin-team__row--gap">
              <div class="bin-team__img">
                <img src="./img/binary/04.png" alt="">
              </div>
              <div class="bin-team__img">
                <img src="./img/binary/05.png" alt="">
              </div>
            </div>
          </div>
          <div class="bin-team__team">
            <h5 class="bin-team__title">Правая команда</h5>
            <div class="bin-team__img bin-team__img--th bin-team__img--gap">
              <img src="./img/binary/03.png" alt="">
            </div>
            <div class="bin-team__row bin-team__row--gap">
              <div class="bin-team__img">
                <img src="./img/binary/06.png" alt="">
              </div>
              <div class="bin-team__img">
                <img src="./img/binary/07.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-team__vars">
      <div class="example__row">
        <div class="binary__item bin-team m-team__team example__team">
          <div class="bin-team__row">
            <div class="example__value example__value--left">
              <span>
                100 SV - 100
              </span>
              <span class="example__value--circle">
                SV = 0 SV
              </span>
            </div>
            <div class="example__value example__value--middle">
              <span>
                Выплата
              </span>
              <span class="example__value--circle">
                25 TON
              </span>
            </div>
            <div class="example__value example__value--right">
              <span>
                100 SV - 100
              </span>
              <span class="example__value--circle">
                SV = 200 SV
              </span>
            </div>
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--main">
                <img src="./img/binary/01.png" alt="">
              </div>
              <div class="example__descript">
                <span>PRO</span>
                <span>750 TON</span>
              </div>
            </div>
          </div>
          <div class="bin-team__row">
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--sec bin-team__img--gap">
                <img src="./img/binary/02.png" alt="">
              </div>
              <div class="example__descript">
                <span>ELITE</span>
                <span>250 TON</span>
              </div>
            </div>
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--th bin-team__img--gap">
                <img src="./img/binary/03.png" alt="">
              </div>

              <div class="example__descript">
                <span>PRO</span>
                <span>750 TON</span>
              </div>
            </div>
          </div>
        </div>
        <div class="example__content">
          <p>
            <span>Вариант 1</span>
            Допустим, что вы активировали свой кабинет, выбрав тариф PRO, и у вас появились два партнера, которые также
            активировали свои кабинеты. Первый активировал тариф ELITE, второй активировал тариф PRO. Значит, слева вам
            начисляется 100 SV, справа 300 SV, так как ваш личный кабинет активирован на PRO.
          </p>
        </div>
      </div>
      <div class="example__row">
        <div class="binary__item bin-team m-team__team example__team">
          <div class="bin-team__row">
            <div class="example__value example__value--left">
              <span class="example__value--circle">
                20 SV
              </span>
            </div>
            <div class="example__value example__value--right">
              <span class="example__value--circle">
                20 SV
              </span>
            </div>
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--main">
                <img src="./img/binary/01.png" alt="">
              </div>
              <div class="example__descript">
                <span>STANDART</span>
                <span>100 TON</span>
              </div>
            </div>
          </div>
          <div class="bin-team__row">
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--sec bin-team__img--gap">
                <img src="./img/binary/02.png" alt="">
              </div>
              <div class="example__descript">
                <span>ELITE</span>
                <span>250 TON</span>
              </div>
            </div>
            <div class="bin-team__team">
              <div class="bin-team__img bin-team__img--th bin-team__img--gap">
                <img src="./img/binary/03.png" alt="">
              </div>

              <div class="example__descript">
                <span>PRO</span>
                <span>750 TON</span>
              </div>
            </div>
          </div>
        </div>
        <div class="example__content">
          <p>
            <span>Вариант 2</span>
            Допустим, что вы активировали свой кабинет, выбрав тариф STANDART, и у вас появились два партнера, которые
            также активировали свои кабинеты. Первый активировал тариф ELITE, второй активировал тариф STANDART. Значит,
            слева вам начисляется 20 SV, справа 20 SV, так как ваш личный кабинет активирован на STANDART.
            Товарооборот копится постоянно при активном аккаунте и без временных ограничений в обоих командах, но при
            достижении отметки в 100 SV эти суммы сгорают, и вы получаете единовременную выплату в размере 2,5 TON.
            Предположим, что у вас справа накопилось 550 SV, а слева накопилось 100 SV. В обоих командах отнимается по
            100
            SV, и происходит выплата. Справа остаётся 450 SV, а слева 0 SV. И так происходит постоянно при начислении
            новых баллов слева и справа при активном аккаунте.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>