<div class="mobile-menu">
  <div class="mobile-menu__window">
    <div class="mobile-menu__header">
      <h3 class="mobile-menu__title">Меню</h3>
      <button class="btn-reset mobile-menu__close">
        &times;
      </button>
    </div>
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list list-reset">
        <li class="mobile-menu__item">
          <a href="./games.html" class="mobile-menu__link">Лотто</a>
          <span></span>
        </li>
        <li class="mobile-menu__item">
          <a href="./wallet.html" class="mobile-menu__link">Кошелёк</a>
          <span></span>
        </li>
        <li class="mobile-menu__item">
          <a href="./team.html" class="mobile-menu__link">Команда</a>
          <span></span>
        </li>
        <li class="mobile-menu__item">
          <a href="./settings.html" class="mobile-menu__link">Настройки</a>
          <span></span>
        </li>
      </ul>
    </nav>

    <div class="mobile-menu__add">
      <nav class="mobile-menu__policy policy">
        <ul class="list-reset policy__list">
          <li class="policy__item">
            <a href="#" class="policy__link">Политика конфиденциальности</a>
          </li>
          <li class="policy__item">
            <a href="#" class="policy__link">Договор публичной оферты</a>
          </li>
          <li class="policy__item">
            <a href="#" class="policy__link">Пользовательское соглашение</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu__socials">
        <a href="#" class="socials__link">
          <img src="./img/tg-icon.svg" alt="">
        </a>
        <a href="#" class="socials__link">
          <img src="./img/youtube-icon.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>