<section class="partners">
  <h2 class="visually-hidden">title</h2>
  <div class="container market-container partners__container">
    <div class="partners__item">
      <div class="partners__item-wrap">

        <h4 class="partners__title market-title">Партнёрская<br>программа</h4>
        <p class="partners__desc">
          Хотите не только выигрывать в наши игры, но ещё и получать пассивный доход?
        </p>
        <p class="partners__desc">
          &laquo;Tonbingo network&raquo; создала для вас партнерскую программу, которая позволит зарабатывать каждому
          желающему. Всё просто&nbsp;&mdash; рекомендуйте &laquo;Tonbingo&raquo; и&nbsp;зарабатывайте!
        </p>
      </div>
    </div>
    <div class="partners__item">
      <div class="partners__item-wrap">
        <div class="bg bg--1"></div>
        <div class="bg bg--2"></div>
        <h4 class="partners__title market-title">Маркетинг “Tonbingo&nbsp;network”</h4>
        <p class="partners__desc">
          "Tonbingo network" выплачивает бонус за приглашение партнёров по бинарному маркетинг-плану. Если вы пригласили
          нового участника в лото, и он захотел участвовать в партнёрской программе "Tonbingo network", вы также
          получаете
          вознаграждение. Сумма вознаграждений зависит от выбранного тарифного плана (пакета) и вашего личного участия в
          партнёрской программе.
        </p>
      </div>
    </div>
  </div>
</section>