<section class="team-sec">
  <div class="container team-sec__container team-sec__row">
    <div class="team-sec__wrap">
      <h2 class="title2 team-sec__title">Моя команда</h2>

      <table class="team-sec__table">
        <tbody>
          <tr>
            <td class="td-capture">Дата</td>
            <td class="td-capture">ID</td>
            <td class="td-capture">Кошелёк TON</td>
          </tr>
          <tr>
            <td class="td-value">28.10.23</td>
            <td class="td-value">у9-2023</td>
            <td class="td-value">84-74к09пм04</td>
          </tr>
          <tr>
            <td class="td-value">28.10.23</td>
            <td class="td-value">у9-2023</td>
            <td class="td-value">84-74к09пм04</td>
          </tr>
          <tr>
            <td class="td-value">28.10.23</td>
            <td class="td-value">у9-2023</td>
            <td class="td-value">84-74к09пм04</td>
          </tr>
          <tr>
            <td class="td-value">28.10.23</td>
            <td class="td-value">у9-2023</td>
            <td class="td-value">84-74к09пм04</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="info-table">
      <h4 class="info-table__title">Информация</h4>
      <div class="info-table__date">
        <h5>Дата регистрации</h5>
        <span>28.10.2023</span>
      </div>
      <table class="info-table__table">
        <tbody>
          <tr class="info-table__row">
            <td class="info-table__capture">Мой ID</td>
            <td class="info-table__capture">ID спонсора</td>
          </tr>
          <tr class="info-table__row">
            <td class="info-table__value">59450360</td>
            <td class="info-table__value">-</td>
          </tr>
          <tr class="info-table__row">
            <td class="info-table__capture">Левая команда</td>
            <td class="info-table__capture">Правая команда</td>
          </tr>
          <tr class="info-table__row">
            <td class="info-table__value">0</td>
            <td class="info-table__value">0</td>
          </tr>
          <tr class="info-table__row">
            <td class="info-table__capture">Баллы слева</td>
            <td class="info-table__capture">Баллы справа</td>
          </tr>
          <tr class="info-table__row">
            <td class="info-table__value">0</td>
            <td class="info-table__value">0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="info-right">
      <h2 class="team-sec__title team-sec__title--mob">Личный кабинет TonBingo Network</h2>
      <table class="info-right__table">
        <tbody>
          <tr>
            <td>Ваш план</td>
            <td>Standart Mini</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>Активен до 1.12.23</td>
          </tr>
          <tr>
            <td>Реферальная ссылка</td>
            <td>123456789</td>
          </tr>
          <tr>
            <td>Тарифные планы</td>
            <td><span></span></td>
          </tr>
          <tr>
            <td>Маркетинг-план</td>
            <td><span></span></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="info-right__settings info-set">
      <h3 class="set__title">Настройки бинарной системы</h3>
      <div class="set__buttons">
        <div class="set__btn">
          <button class="btn-reset  set__btn--prev">
          </button>
          <span>Влево</span>
        </div>
        <div class="set__btn">
          <button class="btn-reset set__btn--next">
          </button>
          <span>Вправо</span>
        </div>
        <div class="set__btn">
          <button class="btn-reset set__btn--auto">
          </button>
          <span>Авто</span>
        </div>
      </div>
    </div>
  </div>
</section>