<section class="blockchain">
  <div class="container">
    <div class="blockchain__body">
      <div class="blockchain__body-left">
        <h2>Блокчейн TON</h2>
        <p>
          Это не только новейшая технология, но и мощный инструмент для
          разработки игр на смарт-контрактах
        </p>
        <div class="ton">
          <img src="./img/ton.png" alt="">
        </div>
        <div class="ton-mobile">
          <img src="./img/ton-mobile.png" alt="">
        </div>
      </div>
      <div class="blockchain__body-right">
        <div class="blockchain__body-cards">
          <div class="blockchain__body-card">
            <div class="blockchain__body-item">
              <div class="blockchain__title">
                <div class="blockchain__body-img">
                  <img src="./img/finger.svg" alt="" />
                </div>
                <h2>
                  Высокая скорость <br />
                  и производительнсть
                </h2>
              </div>
              <p>
                Возможность обрабатывать до 1 миллиона транзакций в
                секунду позволяет блокчейну TON конкурировать с
                традиционными платёжными системами и сделать переводы
                существенно быстрее и дешевле.
              </p>
            </div>
          </div>
          <div class="blockchain__body-card">
            <div class="blockchain__body-item">
              <div class="blockchain__title">
                <div class="blockchain__body-img">
                  <img src="./img/finger.svg" alt="" />
                </div>
                <h2>
                  Гарант <br />
                  безопасности
                </h2>
              </div>
              <p>
                Игры на смартконтрактах — это новое слово в финансовой
                безопасности! Технология блокчейн и смартконтракты
                гарантируют надёжность и неизменность кода, исключающие
                возможность мошенничества.
              </p>
            </div>
          </div>
          <div class="blockchain__body-card">
            <div class="blockchain__body-item">
              <div class="blockchain__title">
                <div class="blockchain__body-img">
                  <img src="./img/finger.svg" alt="" />
                </div>
                <h2>
                  Гарант
                  <br />
                  честности
                </h2>
              </div>
              <p>
                Смартконтракты обеспечивают автоматическую выплату
                выигрышей,что исключает возможность мошенничества при их
                распределении.Они гарантируют безопасность личных данных
                игроков и конфиденциальность всех проводимых операций.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>