<section class="wal">
  <div class="container wal__container">
    <h2 class="wal__title">Кошелёк</h2>
    <div class="wal__wrapper">
      <div class="wal__row wal__row--centered">
        <div class="wal__data">
          <div class="wal__left">
            <span class="wal__value">
              3671 ₽
            </span>
            <span class="wal__name">Баланс</span>
          </div>
          <div class="wal__sep"></div>
          <div class="wal__link">
            <span class="wal__name">Кошелёк</span>
            <span class="wal__descr">mfjo984ghvn0-aw9<img src="./img/copy-icon.svg" alt=""></span>
            <span class="wal__name wal__name--untie">Отвязать<img src="./img/chain-icon.svg" alt=""></span>
          </div>
        </div>

        <div class="wal__buttons">
          <div class="wal-btn">
            <button class="btn-reset wal-btn__btn wal-btn__btn--arru">
            </button>
            <span>Пополнить</span>
          </div>
          <div class="wal-btn">
            <button class="btn-reset wal-btn__btn wal-btn__btn--arrd">
            </button>
            <span>Вывести</span>
          </div>
          <div class="wal-btn">
            <button class="btn-reset wal-btn__btn wal-btn__btn--exchange">
            </button>
            <span>Обменять</span>
          </div>
          <div class="wal-btn">
            <button class="btn-reset wal-btn__btn wal-btn__btn--plus">
            </button>
            <span>Купить TON</span>
          </div>
        </div>
      </div>
      <div class="wal__row">
        <div class="wal__table wal-tab">
          <h3 class="wal-tab__title">Активы</h3>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img">
                <img src="./img/dia.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Toncoin</span>
                <span class="wal-tab__desc">10 TON</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost">1000 ₽</span>
            </div>
          </div>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--ton">
                <img src="./img/ton-icon.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Доллары</span>
                <span class="wal-tab__desc">100 USDT</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost">1000 ₽</span>
            </div>
          </div>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--bit">
                <img src="./img/bit-icon.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Bitcoin</span>
                <span class="wal-tab__desc">10 BTC</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost">1000 ₽</span>
            </div>
          </div>
        </div>
        <div class="wal__table wal-tab">
          <h3 class="wal-tab__title">Транзакции</h3>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--sec wal-tab__img--u">
                <img src="./img/arrow.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Вывод</span>
                <span class="wal-tab__desc">20.20.23 в 19:51</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost">-100 $</span>
              <span class="wal-tab__desc">Отправлено</span>
            </div>
          </div>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--sec wal-tab__img--d">
                <img src="./img/arrow.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Пополнение</span>
                <span class="wal-tab__desc">20.20.23 в 19:51</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost wal-tab__cost--plus">+71 $</span>
              <span class="wal-tab__desc">Получено</span>
            </div>
          </div>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--sec">
                <img src="./img/plus-icon.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Покупка ТОN</span>
                <span class="wal-tab__desc">20.20.23 в 19:51</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost wal-tab__cost--plus">+123,34 TON</span>
              <span class="wal-tab__desc">Отправлено</span>
            </div>
          </div>
          <div class="wal-tab__item">
            <div class="wal-tab__left">
              <div class="wal-tab__img wal-tab__img--sec">
                <img src="./img/double-arrow.svg" alt="">
              </div>
              <div class="wal-tab__info">
                <span class="wal-tab__name">Обмен: ХХ на ХХ</span>
                <span class="wal-tab__desc">20.20.23 в 19:51</span>
              </div>
            </div>
            <div class="wal-tab__right">
              <span class="wal-tab__cost">-100 $</span>
              <span class="wal-tab__cost wal-tab__cost--plus">+123,34 TON</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>